.play {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.play-again {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    width: 120px;
    height: 60px;
    border-radius:5px;
    border: none;
    background-color: rgb(46, 150, 248);
    color: aliceblue;
    font-weight: 800;
}